*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
}

html, body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5.4rem;
}

h2 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.3rem;
}

.button {
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button_small {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 42px;
  height: 42px;
}
.button_primary {
  background: #1F75CB;
  color: #FFFFFF;
}
.button_primary:hover {
  background: #1068BF;
}
.button_primary:active {
  background: #0B5CAD;
}
.button_primary:disabled {
  background: #DCDCDE;
  color: #8E8E8E;
}
.button_primary:disabled > svg path {
  fill: #8E8E8E;
}
.button_secondary {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  color: #1C1C1C;
}
.button_secondary > svg path {
  fill: #1C1C1C;
}
.button_secondary:hover {
  border: 1px solid rgba(18, 19, 22, 0.5);
  background: #ECECEF;
}
.button_secondary:active {
  background: #DCDCDE;
  border: 1px solid #1C1C1C;
}
.button_secondary:disabled {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  color: #8E8E8E;
}
.button_secondary:disabled > svg path {
  fill: #8E8E8E;
}

.status-item {
  color: #FFFFFF;
  padding: 0 8px;
  height: 19px;
  border-radius: 4px;
}
.status-item_draft {
  background: #9E6955;
}
.status-item_in-work {
  background: #9E6955;
}
.status-item_complete {
  background: #1F75CB;
}
.status-item_test {
  background: #9E6955;
}
.status-item_done {
  background: #1F75CB;
}
.status-item_close {
  background: #1F75CB;
}
.status-item_delete {
  background: #EE4222;
}
.status-item_active {
  background: #1F75CB;
}
.status-item_not-active {
  background: #8E8E8E;
}

.header {
  background: #1F75CB;
  padding: 24px 24px 24px 0;
}
.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 24px;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  column-gap: 24px;
  padding: 0;
  margin: 0;
}
.navigation > li {
  list-style: none;
}
.navigation__link {
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  transition: all 0.5s ease-out;
}
.navigation__link:hover {
  background: #ECECEF;
  color: #1C1C1C;
}
.navigation__link:active {
  background: #FFFFFF;
  color: #1C1C1C;
}

.user-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 16px;
  column-gap: 8px;
  transition: all 0.3s ease-out;
  border: 1px solid transparent;
  cursor: pointer;
}
.user-button:hover {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}
.user-button:active {
  background: #FFFFFF;
}
.user-button:active .user-button__drop-down svg path {
  fill: #DCDCDE;
}
.user-button__avatar {
  background: url("../img/icons/user-icon.svg");
  width: 24px;
  height: 24px;
}

.default-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 24px;
}

.project-item-container {
  padding: 24px;
}

.project-item {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 8px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #1C1C1C;
}
.project-item:hover .project-item__description .project-item__state {
  opacity: 1;
}
.project-item__title {
  height: 38px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.project-item__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}
.project-item__info {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 16px;
}
.project-item__id {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.project-item__state {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  column-gap: 16px;
  opacity: 0;
  padding-right: 58px;
  transition: all 0.3s ease-out;
}
.project-item__state > button {
  position: absolute;
  bottom: 8px;
  right: 0;
}
.project-item__creator {
  flex-shrink: 0;
  color: #8E8E8E;
}
.project-item__editor {
  color: #8E8E8E;
}

.task-item:hover .task-item__description .task-item__state button {
  opacity: 1;
}
.task-item:hover .task-item__description .task-item__state {
  padding-right: 58px;
}
.task-item:hover .task-item__description .task-item__state .task-item__avatar {
  right: 58px;
}
.task-item__state {
  position: relative;
  opacity: 1;
  padding-right: 0px;
}
.task-item__state > button {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.task-item__avatar {
  background: url("../img/icons/user-icon.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0px;
  bottom: 36px;
  transition: all 0.3s ease-out;
}

/*# sourceMappingURL=style.css.map */
