 

// ---BACKGROUND---
$color-primary: #1F75CB;
$color-primary-hover: #1068BF;
$color-primary-active: #0B5CAD;
$color-primary-disabled: #DCDCDE;
$color-secondary: #FFFFFF;
$color-secondary-hover: #ECECEF; 
$color-secondary-active: #DCDCDE;


// ---BORDER---
$color-border-default: rgba(0, 0, 0, 0.15);
$color-border-hover: rgba(18, 19, 22, 0.5);
$color-border-active: #1C1C1C;
$color-border-error: #EE4222;
$color-border-disabled: rgba(0, 0, 0, 0.15);
$color-border-bronze: #9E6955;


// ---FONT---
$color-font-primary: #1C1C1C;
$color-font-secondary: #FFFFFF;
$color-font-disabled: #8E8E8E;
$color-font-error: #EE4222;
$color-font-placeholder: #D9D9D9;





   
 
 


