<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../fonts/open-sans/stylesheet.css">
  <link rel="stylesheet" href="../../sass/style.css">
  <title>Document</title>
</head>
<body>
  
  <div class="default-page-container">
    <div class="page-info">
      <p class="page-info__text">Не создан ни один проект</p>
      <button class="button button_primary">Добавить</button>
    </div>
  </div>
  
</body>
</html>