<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../sass/style.css">
  <title>Document</title>
</head>
<body>

  <header class="header">
    <div class="header__container">
      <div class="header__navigation">
        <ul class="navigation">
          <li class="navigation__link navigation__link_bordered"><a href="#">Проекты</a></li>
          <li class="navigation__link navigation__link_colored"><a href="#">Задачи</a></li>
          <li class="navigation__link navigation__link_bordered"><a href="#">Пользователи</a></li>
        </ul>
      </div>
      <div class="header__button">
        <div class="user-button">
          <div class="user-button__avatar"></div>
          <div class="user-button__drop-down"></div>
        </div>
      </div>
    </div>
  </header>

</body>
</html>