.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: $color-font-disabled;

  &__left-column {
    display: flex;
    column-gap: 37px;
  }

  &__pages {
    display: flex;
    column-gap: 8px;
  }

  &__move-to-page {
    display: flex;
    align-items: center;
    column-gap: 8px;
    }

  &__subtitle {
    color: $color-font-disabled;
  }

  &__input {
    padding: 10px 12px;
    width: 70px;
    height: 42px;
    outline: none;
    border: 1px solid $color-border-default;
    border-radius: 4px;
  }
}