.project-item {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 8px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid $color-border-active;

  &__title {
    height: 38px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; 
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
  }

  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
  }

  &__id {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__state {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    column-gap: 16px;
    opacity: 0;
    padding-right: 58px;
    transition: all .3s ease-out;

    &:hover {
      opacity: 1;
    }

    &_active {
      opacity: 1;
    }

    >button {
      position: absolute;
      bottom: 8px;
      right: 0;
    }

    >.drop-down-menu {
      position: absolute;
      top: 12px;
      right: 0px;

      >.drop-down-menu__list .drop-down-menu__item:last-child {
        color: $color-font-error;
      }
    }
  }

  &__creator {
    flex-shrink: 0;
    color: $color-font-disabled;
  }

  &__editor {
    color: $color-font-disabled;
  }
}