.task-item {

  &:hover .task-item__description .task-item__state button{
    opacity: 1;
  }

  &:hover .task-item__description .task-item__state {
    padding-right: 58px;
  }

  &:hover .task-item__description .task-item__state .task-item__avatar{
    right: 58px;
  }

  &__state {
    position: relative;
    opacity: 1;
    padding-right: 0px;

    >button {
      opacity: 0;
      transition: all .3s ease-out;
    }
  }

  &__avatar {
    background: url("../img/icons/user-icon.svg");
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0px;
    bottom: 36px;
    transition: all .3s ease-out;
  }
}