.task-item {

  &__state {
    position: relative;
    opacity: 1;
    padding-right: 0px;

    >button {
      opacity: 0;
      transition: all .3s ease-out;
    }

    &:hover {
      padding-right: 58px;
    }

    &:hover .task-item__avatar {
      right: 58px;
    }

    &:hover >button {
      opacity: 1;
    }

    &_active {
      padding-right: 58px;

      >button {
        opacity: 1;
      }

      .task-item__avatar {
        right: 58px;
      }
    }
  }

  &__avatar {
    position: absolute;
    right: 0px;
    bottom: 36px;
    transition: all .3s ease-out;

    >img {
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
  }
}